/* Write your CSS here */
.bg_container {
  background-color: #93c5fd;
  height: 100vh;
  /* width: 90vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.card_container {
  padding-top: 40px;
  padding-left: 60px;
  height: 40vh;
  width: 40vw;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main_heading {
  font-size: 25px;
  font-weight: 600;
  font-family: 'roboto';

  color: #000000;
}
.different {
  display: flex;
  align-items: center;
}
.form_container {
  display: flex;
  justify-content: center;
}
.options {
  font-size: 14px;
  font-weight: 300;
  font-family: 'roboto';
}
.selectedoptionsfirst {
  width: 150px;
  height: 30px;
}
.selectedoption {
  font-size: 14px;
  font-weight: 300;
  font-family: 'roboto';
}
.country {
  font-size: 25px;
  font-weight: 600;
  font-family: 'roboto';
  text-align: center;
  color: #000000;
  padding-left: 0px;
}

@media screen and (max-width: 768px) {
  .card_container {
    height: 35vh;
    width: 95vw;
    padding-left: 20px;
  }
  .selectedoptionsfirst {
    width: 100px;
  }
}
